####################################################################
Hello all, Welcome to the Production server {{ ansible_hostname }}.
This is a {{ ansible_system }}.
I am {{ myadmin }}, here for you in case you need any help.
Please contact me on {{ myemail }}.

      __|  __|_  )
       _|  (     /   Amazon Linux 2 AMI
      ___|\___|___|
####################################################################
